# ===== Maven =====
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# ===== Logs =====
*.log

# ===== IDE =====
.idea/
*.iml
.vscode/
nbproject/private/
nbproject/Makefile-*.mk

# ===== OS =====
.DS_Store
Thumbs.db

# ===== WildFly / archives =====
wildfly*/
*.zip
*.rar
*.7z
