name: CI

on:
  push:
    branches: [ "main", "sylvain", "phily", "ethan", "virgile" ]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 23
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "23"
          cache: maven

      - name: Build (Maven Wrapper)
        run: |
          chmod +x mvnw
          ./mvnw -B -U -DskipTests clean package
